<h2>Slacker News</h2>
<nav>
    <a href="/posts/submit">Submit</a>
</nav>
<ul>
    {{#each posts}}
    <p><a href="{{url}}">{{title}}{{createdAt}}</a>
        <form action="/posts/{{_id}}?_method=delete" method="post">
            <input type="submit" value="delete">
        </form>
        <a href='/posts/{{_id}}/edit'>Edit</a>
    </p>
    {{/each}}
</ul>